{% extends 'blog/base.html' %}

{% block content %}
   {% for post in posts %}
       <div class="post">
           <div class="date">
               {{ post.published_date }}
           </div>
           <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
           <p>{{ post.text|linebreaksbr }}</p><span style="background-color:yellow">Watson Says:</span>
           <p><b>Translation to Chinese(traditional):</b> {{ post.obj2_ch}}</p>
           <p><b>Word Count:</b> {{ post.w_count_ch}} |
           <b>Letter Count:</b> {{ post.c_count_ch}}</p>
           <p><b>Translation to French:</b> {{ post.obj2_fr }}</p>
           <p><b>Word Count:</b> {{ post.w_count_fr}} |
               <b>Letter Count:</b> {{ post.c_count_fr}}</p>
           <p> <b>Tone Analyzer Results: Tone Category:</b>
               {{ post.tone_type }} | <b>Tone Score:</b> {{ post.tone_score }}</p>
        <p>
            <table>
           <thead>
           <th>Tone Category</th>
           <th>Tone Score</th>
           </thead>
           <tr>
               {% for tone_type in tone_type %}
                   <td>{{ tone_type }}</td>
                   {% endfor %}


               {% for tone_score in tone_score %}
                   <td>{{ tone_score }}</td>
                   {% endfor %}
           </tr>

       </table>
        </p>
       </div>
   {% endfor %}
{% endblock %}
